.container {
  width: 45%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 1%;
  background-color: #e2ddd8
}

/* Adjust position and width of the address input underline */
.mat-form-field ::ng-deep .wide-input .input{
  width: 400% !important;

}

::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color:#6c4656 !important;;
}

::ng-deep .mat-focused .mat-form-field-label {
/*change color of label*/
color: #6c4656 !important;
}

/* Set carat color */
::ng-deep .mat-form-field .input {
caret-color:#6c4656;
}
